  .container.body-content {
        margin-left: 250px;
    }

    body {
        background: #ececec;
    }
    div [name=category] {
    margin: 10px 0 20px 10px;
    color:#000000;
    font-weight:bold;
    }