  body {
        background: linear-gradient(45deg, #352A3B, #d7d7d7);
    }

    .login {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -150px 0 0 -150px;
        width: 300px;
        height: 300px;
    }

        .login h1 {
            color: #fff;
            text-shadow: 0 0 10px rgba(0,0,0,0.3);
            letter-spacing: 1px;
            text-align: center;
        }

    input {
        width: 100%;
        margin-bottom: 10px;
        background: rgba(0,0,0,0.3);
        border: none;
        outline: none;
        padding: 10px;
        font-size: 13px;
        color: #fff;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 4px;
    }

        input::-moz-placeholder {
            color: rgba(255, 255, 255, 0.5);
        }

        input::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.5);
        }

    #valid {
        color: red;
    }