#sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 41px;
    left: 0;
    background-color: #FAFAFA;
    overflow-x: hidden;
    padding-top: 0;
    transition: 0.5s;
    border-right: 2px solid #b2b79e;
    margin-left: 0;
    font-family: 'Comic Sans MS';
    word-wrap: break-word;
	overflow-wrap: break-word;
}
    #sidebar > h2 {
        text-align: center;
    }

a {
    cursor: pointer;
}
