
@{
    ViewBag.Title = "Index";
}
<style>
    body {
        background: #ececec;
    }
</style>

<h2>Choose how to search</h2>

<div class="form-group">
    <form class="form-inline">
        @Html.DropDownList("Categories", ViewBag.Categories as SelectList, "Select category", new { @class = "form-control" })
        <input class="form-control" placeholder="Name">
        <input class="form-control" placeholder="State">
        <button type="submit" class="btn">Search</button>
    </form>

    <hr />

    <div class="row" id="content"></div>
</div>


<script>
    $('#Categories').on('change', (function () {
        var idCategory = $(this).children(':selected').val();
        console.log(idCategory);
        if (idCategory != '') {
            $.ajax({
                url: '/Subject/Subjects?categoryId=' + idCategory,
                success: function (result) {
                    $('#content').html(result);
                },
                complete: function () {
                    //$('#before-load').find('i').fadeOut().end().delay(400).fadeOut('slow');
                }
            });
        }
    }));

    function getDetailsSubject(inventoryNumber) {
        $("#content").load('/Subject/ViewSubject?inventoryNumber=' + inventoryNumber);
    };

</script>
