
@{
    ViewBag.Title = "ChangeData";
}

<h2>ChangeData</h2>


<button style="width:100px; display:block">Subjects</button>
<button style="width:100px;display:block">Categories</button>
<button style="width:100px;display:block">States</button>
<button style="width:100px;display:block">Address</button>


<script>



</script>