
@{
    ViewBag.Title = "Subject";
}
<script src="~/Scripts/loadingCategoriesAndSubjects.js"></script>
<link href="~/Content/index-page.css" rel="stylesheet" />


<div id="categoriesBar"></div>
<div name="category"></div>
<div id="content"></div>


