@model IEnumerable<AccountingBookCommon.SubjectDetails>

<link href="~/Content/catalog-subjects.css" rel="stylesheet" />

    @foreach (var subject in Model)
    {
        <div onclick="getDetailsSubject(@subject.InventoryNumber)" class="col-sm-6 col-md-4">
            <div class="subject">
                <div class="subject-img">
                    @if (!string.IsNullOrEmpty(subject.Photo))
                    {
                        <a><img src="~/Content/Images/@subject.Photo" alt="Image"></a>
                    }
                    else
                    {
                        <a><img src="~/Content/Images/no_image.png" alt="No Image"></a>
                    }
                </div>
                <p class="subject-title">
                    <a href="#">@subject.Name</a>
                </p>
                <p class="subject-desc">@subject.Description</p>
            </div>
        </div>
    }
