@model IEnumerable<AccountingBookCommon.Models.SubjectDetails>

<link href="~/Content/catalog-subjects.css" rel="stylesheet" />
<script src="~/Scripts/subjectDetails.js"></script>

@if (Model != null)
{
    foreach (var subject in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="subject" onclick="getSubjectDetails(@subject.InventoryNumber)">
                @if (HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Edit"))
                {
                    <div onclick="window.location.href='#'" class="edit">
                        <img width="20" height="20" src="~/Content/Images/edit.png" />
                    </div>
                }
                <div class="subject-img">
                    @if (!string.IsNullOrEmpty(subject.Photo))
                    {
                        <a><img src="~/Content/Images/@subject.Photo" alt="Image"></a>
                    }
                    else
                    {
                        <a><img src="~/Content/Images/no_image.png" alt="No Image"></a>
                    }
                </div>
                <p class="subject-title">
                    <a href="#">@subject.Name</a>
                </p>
                <p class="subject-desc">@subject.Description</p>
            </div>
        </div>
    }
}
else
{
    @ViewBag.Error;
}




