<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAccountingBookService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1231/AccountingBookService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountingBookService"
                contract="AccountingBookServiceReference.IAccountingBookService"
                name="BasicHttpBinding_IAccountingBookService" />
        </client>
    </system.serviceModel>
</configuration>