<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:2707/AccountingBookService.svc/get"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGetService"
                contract="AccountingBookServiceReference.IGetService" name="BasicHttpBinding_IGetService" />
            <endpoint address="http://localhost:2707/AccountingBookService.svc/add"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAddService"
                contract="AccountingBookServiceReference.IAddService" name="BasicHttpBinding_IAddService" />
            <endpoint address="http://localhost:2707/AccountingBookService.svc/edit"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEditService"
                contract="AccountingBookServiceReference.IEditService" name="BasicHttpBinding_IEditService" />
            <endpoint address="http://localhost:2707/AccountingBookService.svc/delete"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeleteService"
                contract="AccountingBookServiceReference.IDeleteService" name="BasicHttpBinding_IDeleteService" />
            <endpoint address="http://localhost:2707/AccountingBookService.svc/file"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileService"
                contract="AccountingBookServiceReference.IFileService" name="BasicHttpBinding_IFileService" />
        </client>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAddService" />
                <binding name="BasicHttpBinding_IEditService" />
                <binding name="BasicHttpBinding_IDeleteService" />
                <binding name="BasicHttpBinding_IFileService" />
                <binding name="BasicHttpBinding_IGetService" />
            </basicHttpBinding>
        </bindings>
    </system.serviceModel>
</configuration>