<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    
    <appender name="LogInfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\Logs\LogInfo.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="DEBUG" />
        <levelMax value="INFO" />
      </filter>
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] - [%level] [Class - %class] [Method - %method] [Line - %line] - %message%newline" />
      </layout>
    </appender>
    
    <appender name="LogErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\Logs\LogError.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] - [%level] [Class - %class] [Method - %method] [Line - %line] - %message%newline" />
      </layout>
    </appender>
    
    <root>
      <level value="ALL" />
      <appender-ref ref="LogInfoFileAppender" />
      <appender-ref ref="LogErrorFileAppender" />
    </root>
  </log4net>
</configuration>
